{% extends 'wrappers/base.html' %}

{% block body %}
    <h3>Список заказов!</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="1">№</th>
                <th colspan="1">Дата заказа</th>
                <th colspan="4">Содержимое заказа</th>
                <th colspan="4">Адрес доставки</th>
                <th colspan="1">Кол-во приборов</th>
                <th colspan="1">Стоимость</th>
            </tr>
        </thead>
        <tbody>
        {% for o in orders | reverse %}
            <tr>
                <td colspan="1">{{ o.id }}</td>
                <td colspan="1">{{ o.ts_create }}</td>
                <td colspan="4">{{ o.item_list }}</td>
                <td colspan="4">{{ o.address }}</td>
                <td colspan="1">{{ o.count_person }}</td>
                <td colspan="1">{{ o.total_cost }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <a href="{{ url_for('v_menu.menu_list') }}">Сделать ещё заказ</a>
{% endblock %}
